{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center">
        <hr>
        <h1>It's working</h1>
        <hr>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <a href="/login" class="btn btn-success">Login</a>
    </div>

{% endblock %}

